* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'inter', sans-serif;
  background-color: rgb(41, 41, 41);
}

main {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 30%;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  #overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -10;
  }


  .video-container {
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    z-index: -10;
    scale: 1.0001;

    video {
      width: 100%;
      height: 100%;
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;

  img {
    width: 50px;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
      scale: 1.2;
    }
  }

  .mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: opacity 0.3s;

    i {
      height: 35px;
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(43, 43, 43, 0.695);
      // background-color: rgba(205, 201, 201, 0.202);
      // backdrop-filter: blur(5px);
      border-radius: 50%;
      cursor: pointer;
    }

    i.muted {
      display: none;
    }

    i.play {
      height: 50px;
      width: 50px;
    }
  }

  .bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: center;

    .left {
      display: flex;
      align-items: center;
      gap: 7px;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        border: 2px solid rgb(195, 116, 215);
      }

      .follow-btn {
        padding: 5px 10px;
        border: 1.5px solid white;
        border-radius: 10px;
        user-select: none;
      }

      .follow {
        border: 1.5px solid rgba(171, 220, 225, 0.498);
        color: rgba(171, 220, 225, 0.906);
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      i {
        scale: 1.4;
      }
      i.filled-heart {
        color: rgb(242, 23, 88);
        display: none;
        animation: pop 0.35s ease;
      }

      .animate {
        animation: pop 0.35s ease;
      }
      @keyframes pop {
        0% {
          transform: scale(0.6);
        }
        50% {
          transform: scale(1.25);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
}
