* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "inter", sans-serif;
  background-color: rgb(183, 183, 183);
}

main {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 30%;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.container #overlay {
  position: absolute;
  height: 70%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container #overlay .mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: display 0.3s;
}
.container #overlay .mid i {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 43, 43, 0.535);
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
.container #overlay .mid i.muted {
  display: none;
}
.container #overlay .mid i.play {
  height: 50px;
  width: 50px;
}
.container .video-container {
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -10;
  scale: 1.0001;
}
.container .video-container video {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.content img {
  width: 50px;
}
.content .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .top i {
  scale: 1.2;
}
.content .centralArea {
  width: 100%;
  height: auto;
  flex: 1;
  position: relative;
}
.content .bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: center;
}
.content .bottom .left {
  display: flex;
  align-items: center;
  gap: 7px;
}
.content .bottom .left img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  border: 2px solid rgb(195, 116, 215);
}
.content .bottom .left .follow-btn {
  padding: 5px 10px;
  border: 1.5px solid white;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.content .bottom .left .follow {
  border: 1.5px solid rgb(187, 187, 187);
  color: rgb(169, 169, 169);
}
.content .bottom .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.content .bottom .right i {
  scale: 1.4;
}
.content .bottom .right i.filled-heart {
  color: rgb(242, 23, 88);
  display: none;
  animation: pop 0.35s ease;
}
.content .bottom .right .animate {
  animation: pop 0.35s ease;
}
@keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.centralArea i {
  position: absolute;
  font-size: 4rem;
  color: transparent;
  background: linear-gradient(to bottom left in oklab, rgb(172, 90, 202), rgb(52, 23, 62));
  -webkit-background-clip: text;
          background-clip: text;
  top: 50%;
  left: 50%;
  transform: scale(0);
}

.animate {
  animation: instaHeartAnimation 950ms cubic-bezier(0.17, 0.89, 0.32, 1.27) 1;
}

@keyframes instaHeartAnimation {
  0% {
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
  }
  12% {
    transform: translate(-50%, -50%) scale(1.25) rotate(0deg);
  }
  22% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
  32% {
    transform: translate(-50%, -52%) scale(1.05) rotate(-10deg);
  }
  46% {
    transform: translate(-50%, -54%) scale(1) rotate(8deg);
  }
  56% {
    transform: translate(-50%, -56%) scale(0.95) rotate(0deg);
  }
  80% {
    transform: translate(-50%, -60%) scale(0.6) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
  }
}/*# sourceMappingURL=style.css.map */